<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body>
  <h1 id="title">R&M album</h1>
  <main>
    <section id="search-bar">
      <form action="/" method="get">
        <input id="bar" type="text" name="name" placeholder="search">
      </form>
    </section>
    
    <section id="album">
        <% data.forEach((d) => { %>
          <div class="card">
            <img class="profile" src="<%= d.image %>" alt="Profile">
            <p class="name"><%= d.name %></p>
          </div>
        <% }); %>
    </section>
  </main>
</body>
</html>